/* Index */

#icon {
   width: 65px;
   border-radius: 10px;
   margin-left: 10px;
}

#LoginIcon {
   width: 80px;
   margin-left: 10px;
}

nav {
   display: flex;
   align-items: center;

   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(2, 80, 63);
   color: rgb(253, 252, 248);
   font-size: large;

}

.EntrarText {
   margin-left: 1400px;
   color: white;
   text-decoration: none;
}

body {
   margin: 0;
   background-color: rgb(253, 253, 234);
}

.DE-TRAIN {
   margin-left: 20px;
}

#IndexImage {
width: 2000px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin: 0;
    border: none;
    border-radius: 0;
}

.hero {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.indexbutton {
   text-decoration: none;
   display: inline-block;
    background-color: #d9ff82;
    color: #00503f;
    padding: 16px 28px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.indexbutton:hover {
    transform: translateY(-3px);
    background-color: #c5ed70;
}

.hero-text {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 550px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 80, 63, 0.95),
        rgba(0, 80, 63, 0.35),
        transparent
    );
}

.FakeFooter {
   display: flex;
   align-items: center;

   background-color: rgb(2, 80, 63);
   color: rgb(253, 252, 248);
   position: fixed;
   bottom: 0px;
   width: 100%;
}

.Bordao {
   margin-left: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.strike {
   margin-left: 1300px;
}


#StrikeImage {
   width: 30px;
}

.info-section {
    width: 100%;
    min-height: 190px;
    background-color: #fdfdea;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px 60px;
    box-sizing: border-box;

    gap: 40px;
}

.info-card {
    display: flex;
    align-items: center;
    gap: 22px;

    flex: 1;
    max-width: 330px;
}

.info-icon {
    width: 68px;
    height: 68px;

    background-color: #00503f;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    flex-shrink: 0;
}

.info-card h3 {
    margin: 0 0 12px 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #00503f;
    font-size: 21px;
    font-weight: bold;
}

.info-card p {
    margin: 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #00503f;
    font-size: 16px;
    line-height: 1.5;
}


/* Cadastro */

.bodyCadastro {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #0c3527;
}

.cadastro-detrain-topo {
  background-color: rgb(2, 80, 63);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#centrobloco {
   display: flex;
   justify-content: center;
   margin-top: 100px;

}

#BlocoCadastro {

   padding: 20px;
   width: 500px;
   border-radius: 25px;
   margin: 25px;
   background-color: rgb(2, 80, 63);
   display: flex;
   justify-content: center;
   align-items: center;

}

#FormsCadastro {

   justify-content: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: rgb(253, 252, 248);
   margin-left: 0px;

}

#cadastro-nome{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}

#cadastro-senha{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}

#cadastro-id{
   
   padding: 10px;
   width: 400px;
   border-radius: 20px;
 
}

#cadastro-email{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}

#cadastro-telefone{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}

#cadastro-tipo{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}

#cadastro-modelo{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}

#cadastro-estacao{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}

#cadastro-sensor{

   padding: 10px;
   width: 400px;
   border-radius: 20px;

}


#CadastroTitulo {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: rgb(253, 252, 248);
   font-size: 45px;
   padding-bottom: 20px;
   margin-bottom: 25px;
   text-align: center;
   font-weight: bold;
 
}


.CadastroInput {

   border: none;
   padding-left: 10px;
   border-radius: 3px;
   margin: 5px;
   cursor: pointer;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   width: 100%;
   width: 101%;
   padding: 8px;
   margin: 8px 0 15px 0;
   border-radius: 8px;
   border: 1px solid #ccc;
   outline: none;

}

.ButtonCadastro {

  width: 400px;
  padding: 14px;
  background-color: #c6f24e;
  color: #0c3527;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
   margin-top: 20px;
    margin-left: 0px;

}

button:hover {
   background-color: rgb(0, 121, 111);
   ;
}

#nome {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Home */



.cabecalho{
    background-color: rgb(2, 80, 63);
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
}

.body_home{
   background-color: #0c3527;
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.lado-esquerdo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.home-detrain-logo {
  color: white;
  font-size: 33px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    height: 70px;
}

.menu{
    display: flex;
    gap: 25px;
    margin-left: 20px
}

.menu a{
    color: white;
    font-size: 14px;
    font-weight: bold;
   text-decoration:dotted;
}

.lado-direito{
    display: flex;
    align-items: center;
    gap: 15px;

    color: white;
    font-weight: bold;
    font-size: 14px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: x-large;
}

.EntrarText_home {
   font-size: 30px;
   text-decoration: none;
   color: white;
}


.perfil{
    height: 45px;
    width: 70px;
    border-radius: 50%;
}

.DE-TRAIN2 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(2, 80, 63);
   color: rgb(253, 252, 248);
   font-size: xx-large;
}

.footer_home {

   background-color: rgb(2, 80, 63);
   margin-top: auto;

}

.slogan_footer_home {

   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-left: 10px;
}

.main_home{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.linhas_home{

   width: 600px;
   display: block;
   margin: 30px auto;
   
   border: 4px solid rgb(2, 80, 63);
   border-radius: 15px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

/* Login */

.bodyLogin {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(2, 80, 63);
}

.login-detrain-topo {
  background-color: rgb(2, 80, 63);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-detrain-logo {
  color: white;
  font-size: 33px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.login-detrain-container {
  display: flex;
  background-color: #0c3527;
}

.login-detrain-caixa {
  width: 45%;
  height: 100px;
  padding: 60px;
  color: white;

}

.login-detrain-titulo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-detrain-verde {
  color: #c6f24e;
}

.login-detrain-subtexto {
  color: #cccccc;
  font-size: 15px;
  margin-bottom: 50px;
}

.login-detrain-label {
  color: #cccccc;
  font-size: 13px;
}

.login-detrain-input {
  width: 100%;
  padding: 30px;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 15px;
  background-color: #123f2f;
  color: white;
}

.login-detrain-input::placeholder {
  color: #999;
}

.login-detrain-erro {
  color: red;
  font-size: 13px;
}

.login-detrain-botao {
  width: 100%;
  padding: 14px;
  background-color: #c6f24e;
  color: #0c3527;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
}

.login-detrain-botao:hover {
  background-color: #a9d93e;
}

.login-detrain-cadastro {
  margin-top: 20px;
  color: #cccccc;
  font-size: 14px;
}

.login-detrain-cadastro a {
  color: #c6f24e;
  font-weight: bold;
  text-decoration: none;
}

.login-detrain-imagem {
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
}

.login-detrain-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

}

#icon-login {
   width: 80px;
   margin-right: 1590px;
   border-radius: 15px;
}

#login-email {
   padding: 10px;
   width: 600px;
   border-radius: 20px;
}
#login-senha {
   padding: 10px;
   width: 600px;
   border-radius: 20px;
}

.login-rodape {
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: rgb(253, 252, 248);
   font-size: 14px;
   
}

.verde {
   color:#a9d93e;
}

/* usuarios */

.container_tabela_usuarios{
   display: flex;
   justify-content: center;
   margin-top: 150px;
}

.tabela_usuarios{
   width: 50%;
   font-size: 20px;
}

.pagina_usuarios{
   background-color: rgb(253, 253, 234);
}

.CadastrarText {
   margin-left: 40px;
   color: rgb(253, 252, 248);
   font-size: 25px;
   height: 75px;
   display: flex;
   flex-direction: column;
   gap: 5px;
   align-items: center;

   padding: 0 20px;
   flex-direction: column;
   gap: 5px;
}