/* Geral */

body {
    margin: 0px;
}

/* Nav Geral*/

.navGeral {
    background-color: #044d44;
}

#ltrNavGeral {
    display: flex;

    margin-left: 15px;
    color: #faf9f6;
    font-size:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}