/* index */
#icon {
   width: 65px;
   border-radius: 10px;
   margin-left: 10px;
}

#LoginIcon {
   width: 80px;
   margin-left: 10px;
}

nav {
   display: flex;
   align-items: center;

   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(2, 80, 63);
   color: rgb(253, 252, 248);
   font-size: large;

}

.EntrarText {
   padding-left: 1400px;
   
    color: white;
    text-decoration: none;
    
}

body {
   margin: 0;
   background-color: rgb(253, 253, 234);
}

.DE-TRAIN {
   margin-left: 15px;
}

#IndexImage {
   margin-top: 50px;
   width: 850px;
   
   border: 5px solid rgb(2, 70, 49);
   border-radius: 25px;

}

.FakeFooter {
   display: flex;
   align-items: center;

   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(2, 80, 63);
   color: rgb(253, 252, 248);
   position: fixed;
   bottom: 0px;
   width: 100%;
}

.Bordao {
   margin-left: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.strike {
   margin-left: 1300px;
}

.text {
   width: 45%;
   font-size: 30px;
   color:  rgb(2, 80, 63);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#StrikeImage {
   width: 30px;
}

.IndexText {}

.flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
}

/* cadastro */

#BlocoCadastro{

    padding: 25px;
    width: 500px;
    border-radius: 25px;
    margin: 25px;
     background-color: rgb(2, 80, 63);

}

#FormsCadastro{

    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

input {


    border: none;
    padding-left: 10px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;

}

.ButtonCadastro {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    border-radius: 15px;
    size: 30px;
    font-size: larger;
    padding: 10px;
    cursor: pointer;

}


